* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 2000px;
}

header nav {
  width: 80%;
  height: 80px;
  background-color: white;
  margin: 80px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .nav-menu {
  width: 40%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
header nav .nav-menu li {
  padding: 10px 15px;
  font-size: 20px;
  color: #666;
}
header nav .nav-menu li a {
  text-decoration: none;
  color: inherit;
}
header nav .nav-right {
  list-style: none;
  width: 35%;
  display: flex;
  justify-content: flex-end;
}
header nav .nav-right li {
  margin: 0 15px;
  color: #555;
  font-size: 20px;
  padding: 8px 25px;
}
header nav .nav-right .cart {
  position: relative;
}

.nav-right li:last-child {
  border: 2px solid;
  font-size: 20px;
  border-radius: 20px;
}

.cart::before {
  position: absolute;
  content: attr(data-count);
  width: 25px;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  border-radius: 15px;
  top: -20px;
  text-align: center;
  background: red;
  color: white;
  cursor: pointer;
  overflow: hidden;
}

.cart .on::before {
  opacity: 1;
}

main {
  display: flex;
}
main .item {
  width: 100%;
  height: 200px;
  background: whitesmoke;
  padding: 5px;
  position: relative;
  border-radius: 20px;
  transition: 0.5s;
}
main .item img {
  width: 100%;
  height: 150px;
  margin: auto;
  transition: inherit;
  transform: scale(1.09);
}
main .item .dat {
  width: 100%;
  height: 0;
  background: #eee;
  padding: 0;
  position: absolute;
  bottom: 1px;
  left: 0;
  transform: inherit;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  padding: 5px;
}
main .item .dat button {
  border: none;
  outline: none;
  padding: 8px 20px;
  background: #00b0c4;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
}
main .item .dat .add {
  background: #f04271;
}
main .item .dat p {
  margin: 10px auto;
}
main .item .dat p .price {
  font-size: 17px;
  font-weight: bold;
}
main .item .dat p .in span {
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  background: white;
  display: inline-block;
  text-align: center;
  margin: 0 6px;
}
main .item .dat p .in span .active {
  background: gray;
  color: white;
}
main .item .dat strong {
  display: inline-block;
  width: 100%;
}

.item:hover {
  height: 430px;
}

.item:hover .dat {
  padding: 10px;
  height: 240px;
}

.item:hover img {
  transform: scale(0.8);
}

.dat p:first-child strong {
  width: 75%;
}

.cart .on::before {
  opacity: 1;
}

.image-carior {
  position: absolute;
  top: 0;
  left: 0;
  background: inherit;
  width: 100%;
  height: 300px;
  border-radius: inherit;
  display: none;
}

.image-carior.active {
  display: block;
  z-index: 5;
}

.item :nth-child(1) .image-carior.avtive {
  -webkit-animation: first 0.5s ease-in;
          animation: first 0.5s ease-in;
}

.item :nth-child(2) .image-carior.avtive {
  -webkit-animation: second 0.5s ease-in;
          animation: second 0.5s ease-in;
}

.item :nth-child(3) .image-carior.avtive {
  -webkit-animation: third 0.5s ease-in;
          animation: third 0.5s ease-in;
}

.item :nth-child(4) .image-carior.avtive {
  -webkit-animation: four 0.5s ease-in;
          animation: four 0.5s ease-in;
}

@-webkit-keyframes first {
  to {
    transform: scale(0.08);
    top: -305px;
    left: 925px;
  }
}

@keyframes first {
  to {
    transform: scale(0.08);
    top: -305px;
    left: 925px;
  }
}
.cart-field {
  position: absolute;
  width: 50%;
  height: 200px;
  background: white;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  left: 5%;
  transition: 0.5s;
}

.cart-field .item,
.cart-field .item:hover {
  width: 96%;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px auto;
}

.cart-field .item img,
.cart-field .item:hover img {
  transform: scale(1);
  width: 30%;
}

.cart-field .item .dat {
  width: 60%;
  position: relative;
  height: 100%;
  padding: 30px;
  left: auto;
  background: inherit;
}

.cart-field .dat strong,
.cart-field .dat .price {
  font-size: 30px;
}

.cart-field .dat p:first-child stong {
  width: 85%;
}

.cart-field .dat p small {
  font-size: 20px;
}

.cart-field .in span {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
}

.cart-field .image-carior.active {
  display: none;
}/*# sourceMappingURL=style.css.map */